.custom-v-field{
    border-color: rgb(209 213 219 / 1)!important;
    border-width: 2px!important;
    border-radius: 10px!important;
}
.pointer{
    cursor: pointer;
}
.card-box-shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px!important;
}
.bolder-text{
    font-size: 1rem!important;
    
    // font-weight: 600!important;
}