@use './login';
@use './_common.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');
// Font Variables


html {
  // font-size: 90%;
}

:root {
    --font-body: 'Lato', sans-serif;
    --font-heading: 'Lato', sans-serif;
  }
  body {
    // zoom: 0.8;
    // height: 100%!important;
    zoom: 0.9;
    font-family: var(--font-body);
    font-weight: 400;
    color: #333;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }

  
.drop-shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px!important;
}

  .slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.9s ease;
}
.slide-fade-enter-from {
  opacity: 0;
  transform: translateY(20px);
}
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}
  // h1, h2, h3, h4, h5, h6 {
  //   font-family: var(--font-heading);
  //   font-weight: 600;
  // }
  h1{
    font-size: 2.25rem!important;
    
  }
  h2{
    font-size: 2rem!important;
  }
  h5{
    font-size: 1.25rem!important;
    line-height: 1.75rem;
  }
  h6{
    font-size: 1rem!important;
    line-height: 1.75rem;
  }
  .v-row{
    margin: 0px!important;
  }

.single-line{
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

